@font-face {
   font-family: 'Lobster';
   font-style: regular;
   font-weight: 400;
   src: url('file:///D:/Users/mazevedo/Documents/Meus%20Projetos/Websites/tempodebrincar.com.br%20(new)//fonts/Lobster/regular.ttf') format('truetype');
}
